/* Google-style theme */
.google-style .user-message {
  color: #1a73e8;
  /* Google blue */
  font-weight: bold;
}

.google-style .ai-message {
  color: #fbbc05;
  /* Google yellow */
  font-weight: bold;
}

body.google-style {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #f5f5f5;
}

.google-style #chat-container {
  max-width: 800px;
  margin: auto;
  border: 1px solid #e0e0e0;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.google-style #chat-output {
  height: 400px;
  overflow-y: scroll;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  padding: 10px;
}

.google-style #message-form {
  display: flex;
}

.google-style #message-input {
  flex-grow: 1;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 6px 12px;
  margin-right: 10px;
  resize: vertical;
  overflow: auto;
  max-height: 100px;
  min-height: 38px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
}



.google-style #message-form button[type="submit"] {
  background-color: #1a73e8;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.google-style #new-conversation-btn {
  background-color: #1a73e8;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.google-style #message-form button[type="submit"]:hover,
.google-style #new-conversation-btn:hover {
  background-color: #1558d6;
}

.google-style #message-form button[type="submit"]:active,
.google-style #new-conversation-btn:active {
  background-color: #0d3eab;
}