.user-message,
.ai-message {
    white-space: pre-wrap;
}


/* Groovy theme styles */
.groovy .user-message {
    color: #FF69B4;
    /* Hot pink */
    font-weight: bold;
}

.groovy .ai-message {
    color: #00FF00;
    /* Lime green */
    font-weight: bold;
}

body.groovy {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: #0c2461;
    color: #f1c40f;
}

body.groovy #chat-container {
    max-width: 800px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body.groovy #chat-output {
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

body.groovy #message-form {
    display: flex;
}

body.groovy #message-input {
    flex-grow: 1;
}

/* Plain White theme styles */
body.plain-white {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

body.plain-white #chat-container {
    max-width: 800px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    font-family: Arial, sans-serif;
}

body.plain-white #chat-output {
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

body.plain-white #message-form {
    display: flex;
}

body.plain-white #message-input {
    flex-grow: 1;
}

.typing-dots-container {
    display: inline-flex;
}

.typing-dot {
    background-color: #000;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    margin: 0 2px;
    animation: typingDot 1.5s infinite;
}

.typing-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes typingDot {

    0%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-4px);
    }
}

#message-input {
    flex-grow: 1;
    resize: vertical;
    overflow: auto;
    max-height: 100px;
    min-height: 38px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
}

#new-conversation-btn {
    margin-top: 10px;
}